body {
	background: #aa1c53;
}
.main {
    width: 500px;
	position: absolute;
    top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #202020;
	padding: 50px;
	color: #fff;
	text-align: center;
}
.main h1 {
	text-transform: uppercase;
	margin-bottom: 10%;
}
input[type="text"] {
	height: 40px;
}
input[type="text"] {
	font-size: 24px;
}
button {
	background: #e44071;
	color: #fff;
	display: inline-block;
	padding: 10px 25px;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
}
input[type="radio"] {
	width: 20px;
	height: 20px;
}
i{
    font-size: 25px;
}